@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">It`s project for test git brunches</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h2>New Table</h2>
    <a href="~/Views/Home/StartPage">Second_Page</a>
</div>
<table>
    <tr>
        <td> UserName</td>
        <td>Product</td>
        <td>SellDate</td>
    </tr>
    <tr>
        <td><input type="submit" value="Add" class="btn btn-select"/></td>
    </tr>
</table>
