@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Second Pages</h1>
    <div class="container">
        <button class="btn-danger"> <a href="/Views/Home/StartPage">First_Page</a></button>
    </div>
</div>
